<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Sign In | O-Donate</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <%- include("../partials/header") %>

</head>
<body>
    
    <%- include("../partials/navbar") %>
    <div class="container">
        <div class="wrap">
            <form class="main-form" action="/register" method="POST">
                <div style="padding-bottom: 0.7rem;" class="form-header">
                    <h3 style="font-size: xx-large;">Create Completed</h3>
                    <span style="color: green; font-size: 100px;">&#10003;</span>
                    <p>Thank you for joining O-Donate</p>
                    <p><mark style="color: white; background-color: crimson;">Please verify account to finish your register</mark></p>
                </div>                
                        <div style="text-align: center;" class="form-group">
                            <a style="border: solid; padding: 10px 15px; color: white; background-color: rgb(92, 173, 173);" href="/login">Back to Log In</a>
                        </div>
                                    
            </form>
        </div>
   
</div>    
           
</body>
</html>