<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Sign Up | O-Donate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%- include("../partials/header") %>

<style>
    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .complete-form{
        width: 500px;
        margin: 0 auto;
        border: 1.5px solid #ddd;
        padding: 2rem;
        background: #ffffff;
    }
    
    .form-group{
        margin-bottom: 1.5rem;
        text-align: center;
    }
  
    .form-header{
        text-align: center;
        margin-bottom : 2rem;
    }
    
    span {
    content: "\2713";
    color: green;
    font-size: 100px;
    }

    mark{
        color: white;
        background-color: crimson;
    }

</style>  

</head>
<body>
    
    <%- include("../partials/navbar") %>
    <div class="container" style="width: 50%; margin: 25px auto; padding-top: 50px;">
            <div class="wrap">
                <form class="complete-form" action="/register" method="POST">
                    <div style="padding-bottom: 0.7rem;" class="form-header">
                        <h3 style="font-size: xx-large;">Create Completed</h3>
                        <span>&#10003;</span>
                        <p>Thank you for joining O-Donate</p>
                        <p><mark>Please verify account to finish your register</mark></p>
                    </div>                
                            <div class="form-group">
                                <a style="border: solid; padding: 10px 15px; color: white; background-color: rgb(92, 173, 173);" href="/register">Back to Log In</a>
                            </div>
                                        
                </form>
            </div>
       
    </div>
        
    
</body>
</html>