<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Sign Up | O-Donate</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%- include("../partials/header") %>
</head>
<body>
    <%- include("../partials/navbar") %>
    <div class="container">
        <div class="wrap">
            <form class="main-form" action="/register/extraA" method="POST">
                <div style="padding-bottom: 0.7rem;" class="form-header">
                    <h3 style="font-size: smaller;"><mark style="background-color: rgba(34, 185, 49, 0.685);">account has been verified successfully</mark></h3>
                    <h3 style="font-size: xx-large;">Personal Information</h3>
                    <p>Please Fill out these form to complete register</p>
                </div>
                <p style="text-align: center;">Add profile pic</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Firstname" placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Lastname" placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea type="text" class="form-control" name="Address" placeholder="Address" required></textarea>
                    </div>

                    <div class="form-group">
                        <textarea type="text" class="form-control" rows="5" name="Description" placeholder="Some detail that make other know you" required></textarea>
                    </div>
                            
                    <div class="form-group">
                        <button class="form-button" type="submit">Submit</button>
                    </div>

                    
                                    
            </form>
        </div>
   
    </div>
  
</body>
</html>
  
</body>
</html>