<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Sign Up | O-Donate</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%- include("../partials/header") %>

</head>
<body>
    
    <%- include("../partials/navbar") %>
    <div class="container">
        <div class="wrap">
            <form class="main-form" action="/register/extraC" method="POST">
                <div style="padding-bottom: 0.7rem;" class="form-header">
                    <h3 style="font-size: xx-large;">Social Profile</h3>
                    <p>Please add some contact that make other can contact you</p>
                </div>
                
                <label for="facebook">Website: </label>
                <div class="form-group">
                    <input type="text" class="form-control" name="website" placeholder="https://www.facebook.com/firstname.lastname" required>
                </div>

                <label for="facebook">Facebook: </label>
                <div class="form-group">
                    <input type="text" class="form-control" name="facebook" placeholder="https://www.facebook.com/firstname.lastname" required>
                </div>

                <label for="twitter">Twitter: </label>
                <div class="form-group">
                    <input type="text" class="form-control" name="twitter" placeholder="https://twitter.com/username" required>
                </div>

                <label for="instagram">Instagram: </label>
                <div class="form-group">
                    <input type="text" class="form-control" name="instagram" placeholder="https://www.instagram.com/username/" required>
                </div>
 
                <div class="form-group">
                    <button style="margin-top: 1.25rem;" class="form-button" type="submit">Submit</button>
                </div>              
            </form>
        </div>
   
    </div>
</body>
</html>
