<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Sign Up | O-Donate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%- include("../partials/header") %>

<style>
    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .extraA-form{
        width: 500px;
        margin: 0 auto;
        border: 1.5px solid #ddd;
        padding: 2rem;
        background: #ffffff;
    }
    .form-input{
        background: #fafafa;
        border: 1px solid #eeeeee;
        padding: 12px;
        width: 100%;
    }
    .form-group{
        margin-bottom: 1.5rem;
    }
    .form-button{
        background:rgb(92, 173, 173);
        border: 1px solid #ddd;
        color: #ffffff;
        padding: 10px;
        width: 100%;
        text-transform: uppercase;
    }
    .form-button:hover{
        background: rgb(48, 136, 102);
    }
    .form-header{
        text-align: center;
        margin-bottom : 2rem;
    }

    mark{
        background-color: rgba(34, 185, 49, 0.685);
    }

</style>  

</head>
<body>
 
    <%- include("../partials/navbar") %>
    <!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Sign Up | O-Donate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <%- include("../partials/header") %>

<style>
    .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .extraA-form{
        width: 500px;
        margin: 0 auto;
        border: 1.5px solid #ddd;
        padding: 2rem;
        background: #ffffff;
    }
    .form-input{
        background: #fafafa;
        border: 1px solid #eeeeee;
        padding: 12px;
        width: 100%;
    }
    .form-group{
        margin-bottom: 1.5rem;
    }
    .form-button{
        background:rgb(92, 173, 173);
        border: 1px solid #ddd;
        color: #ffffff;
        padding: 10px;
        width: 100%;
        text-transform: uppercase;
    }
    .form-button:hover{
        background: rgb(48, 136, 102);
    }
    .form-header{
        text-align: center;
        margin-bottom : 2rem;
    }

    mark{
        background-color: rgba(34, 185, 49, 0.685);
    }

</style>  

</head>
<body>
 
    <%- include("../partials/navbar") %>
    <div class="container" style="width: 50%; margin: 25px auto; padding-top: 50px;">
        <div class="wrap">
            <form class="extraA-form" action="/register/extraA" method="POST">
                <div style="padding-bottom: 0.7rem;" class="form-header">
                    <h3 style="font-size: smaller;"><mark>account has been verified successfully</mark></h3>
                    <h3 style="font-size: xx-large;">Personal Information</h3>
                    <p>Please Fill out these form to complete register</p>
                </div>
                <p style="text-align: center;">Add profile pic</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Firstname" placeholder="First Name" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="Lastname" placeholder="Last Name" required>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea type="text" class="form-control" name="Address" placeholder="Address" required></textarea>
                    </div>

                    <div class="form-group">
                        <textarea type="text" class="form-control" rows="5" name="Description" placeholder="Some detail that make other know you" required></textarea>
                    </div>
                            
                    <div class="form-group">
                        <button class="form-button" type="submit">Submit</button>
                    </div>

                    
                                    
            </form>
        </div>
   
    </div>
  
</body>
</html>
  
</body>
</html>