<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>Profile | O-Donate</title>
    <%- include("../partials/header") %>
<style>
    .box {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 500px;
        margin: 50px auto;
        position: relative;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .form-group {
        margin: 40px;
        text-align: left;
    }

   
    
</style>

</head>
<body>
    <%- include("../partials/navbar") %>

    <div class="container" style="width: 35%; margin: 25px auto; padding-top: 100px;">
        <div class="box">
            <h2>Edit Profile</h2>
            <label for="username">Current Username : <%= currentUser.username %></label>
            <form action="edit-username" method="POST">
                
                <div class="form-group">
                    <p></p>
                    
                </div>

                <div class="form-group">
                    <label for="new-username">New Username :</label>
                    <input class="form-control" type="text" name="username" placeholder="Enter Username" value="<%= currentUser.username %>" required>
                </div>

                <div class="form-group">
                    <label for="password">For change your username, Please enter Password :</label>
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
      </div>
</body>
</html>