
<footer class="page-footer font-small indigo">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a style="color: rgb(92, 173, 173);" href="https://O-Donate.com"> O-Donate.com</a>
    </div>
    
</footer>
