.bd-title {
    text-transform: uppercase;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-body a {
    background-color: rgb(92, 173, 173);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 2px;
    width: 100%;
}

.nav-tabs a{
    color: rgb(92, 173, 173);
    font-weight: 500;
  }