.bd-title {
    text-transform: uppercase;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card-body a {
    background-color: rgb(92, 173, 173);
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 2px;
    width: 100%;
}

.nav-tabs a{
    color: rgb(92, 173, 173);
    font-weight: 500;
}

.btn-file {
    position: relative;
    overflow: hidden;
  }

  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
  }

  .btn-custom {
    background: rgb(92, 173, 173);
    color: #ffffff;
    /* width: 97%; */
    margin-top: -50px;
    padding: 1rem 5.7rem;
    border-radius: 0%;
  }

  .btn-custom:hover {
    background: rgb(58, 175, 130);
    color: #ffffff;
  }