.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form{
    width: 500px;
    margin: 4.5rem 0.5rem;
    border: 1.5px solid #ddd;
    padding: 3rem;
    background: #ffffff;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.form-group{
    margin-bottom: 1.5rem;
}
.form-button{
    background:rgb(92, 173, 173);
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: rgb(58, 175, 130);
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    pointer-events: all;
}

.betterUL {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
}

@media (max-width: 400px) {
        .main-form{
        width: 500px;
        margin: 4.5rem 0.5rem;
        border: 1.5px solid #ddd;
        padding: 1.5rem;
        background: #ffffff;
    }
}

.img-fluid {
    width: 100%;
    height: 400px;
}

.img-fluid {
    width: 100%;
    height: 400px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.btn-custom {
    background: rgb(92, 173, 173);
    color: #ffffff;
    width: 100%;
    margin-top: -55px;
    padding: 1rem 0rem;
    border-radius: 0%;
}

.btn-custom:hover {
    background: rgb(58, 175, 130);
    color: #ffffff;
}

.input-group-prepend span {
      background: rgb(92, 173, 173);
      color: #ffffff;
}