.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-form{
    width: 500px;
    margin: 4.5rem 0.5rem;
    border: 1.5px solid #ddd;
    padding: 3rem;
    background: #ffffff;
}
.form-input{
    background: #fafafa;
    border: 1px solid #eeeeee;
    padding: 12px;
    width: 100%;
}
.form-group{
    margin-bottom: 1.5rem;
}
.form-button{
    background:rgb(92, 173, 173);
    border: 1px solid #ddd;
    color: #ffffff;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-button:hover{
    background: rgb(58, 175, 130);
}
.form-header{
    text-align: center;
    margin-bottom : 2rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
  
.dropdown>.dropdown-toggle:active {
    pointer-events: all;
}

@media (max-width: 400px) {
        .main-form{
        width: 500px;
        margin: 4.5rem 0.5rem;
        border: 1.5px solid #ddd;
        padding: 1.5rem;
        background: #ffffff;
    }
}