<!DOCTYPE ejs>
<html lang="en">
<head>
    <title>All Category | O-Donate</title>
    <%- include("../partials/header") %>
</head>
<body>
    <%- include("../partials/navbar") %>

    <div class="container" style="width: 35%; margin: 25px auto; padding-top: 100px;">
       
    </div>

</body>
</html>